*{padding:0;margin:0}
ol,ul{list-style:none}
body{font:14px 'Microsoft Yahei';background:#f5f5f5}
a{text-decoration:none;color:#3d82d6}
a:hover{text-decoration:underline}
a img{border:0}


#conta {
	float:right;
	width:250px;
	margin:0 auto;
	text-align:right;
	position:relative;
}
#conta ul
{
	list-style-type:none;
	margin:0px; 
	padding:0px; 
	text-decoration:none;
	color:#666;
} 
#conta li 
{
	width:100px;
	border-bottom:1px solid #88bbd4;
	height:30px;
	line-height:30px;
}
#conta li a 
{ 
	display:block;
	padding-left:0.5em; 
	text-decoration:none;
} 
#conta li a:link,#conta li a:visited 
{ 
	font-size:13px;
	color:#666;
} 
#conta li a:hover
{ 
	background-color:#88bbd4;
} 

#topnav {
	padding:10px 0px 12px;
	font-size:13px;
	line-height:23px;
	text-align:right;
}
#topnav a.signin {
	background:#59B;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin:hover {
	background:#88bbd4;
	*background:transparent url("signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("../../image/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#666!important;
	outline:none;
}
a.signin.menu-open span {
	background-image:url("toggle_up_dark.png");
	color:#789;
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#ddeef6;
	position:absolute;
	//width:210px;
	z-index:100;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:5px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#222;
	font-size:12px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;	
	margin:0 0 5px;
	padding:5px;
	width:103px;
}
#signin_menu tr td,#signin_menu p {
	margin:0;
	height: 24px;
	line-height:24px;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../../image/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
	padding:0;
	border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}


.wp{width:1002px;margin:auto}
.header{height:87px;line-height:6;}
.header a{margin:0 10px;color:#555}
.header h2 img{margin-top:10px}
.header #left{float:left;overflow:hidden;margin-top:5px;}
.header #right{float:right;height:87px;}
.navigation{width:100%;z-index:999;background:rgba(141,179,44,.8);height:48px;border-bottom:1px solid #6A8B15;border-top:1px solid #6A8B15;clear:both}
#nav-top-wrap{width:100%;height:137px;background:rgba(245,245,245,0.8);z-index:999;}
.main,#main{min-height:400px;margin:0;}//margin:156px 0 0 0;
#spcar{padding-left:18px;background:url(./image/spcar.gif)no-repeat 0 1px}
#speaker{padding-left:18px;background:url(./image/speaker.png)no-repeat 0 3px}

.nav{@expand .clearfix;margin-top:2px}
.nav>li{float:left;border:1px solid #6f892c;-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 1px rgba(255,255,255,0.3);-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 1px rgba(255,255,255,0.3);-ms-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 1px rgba(255,255,255,0.3);-o-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 1px rgba(255,255,255,0.3);box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 1px rgba(255,255,255,0.3);margin-top:3px;color:#fff !important;background:#8db32c;-webkit-text-shadow:none;-moz-text-shadow:none;-ms-text-shadow:none;-o-text-shadow:none;text-shadow:none;position:relative;font-weight:600;padding:0;display:block}
.nav>li:not(:first-of-type){border-left:none}
.nav>li:first-of-type{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-ms-border-radius:4px 0 0 4px;-o-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;-webkit-background-clip:padding-box;-moz-background-clip:padding;-ms-background-clip:padding-box;-o-background-clip:padding-box;background-clip:padding-box}
.nav>li:last-of-type{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-ms-border-radius:0 4px 4px 0;-o-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;-webkit-background-clip:padding-box;-moz-background-clip:padding;-ms-background-clip:padding-box;-o-background-clip:padding-box;background-clip:padding-box}
.nav>li:hover,.nav>li.active,.nav>li:active{background-color:#799f22;background-image:-webkit-gradient(linear, top left, bottom left, color-stop(0, #8db32c), color-stop(1, #799f22));background-image:-webkit-linear-gradient(top, #8db32c, #799f22);background-image:-moz-linear-gradient(top, #8db32c, #799f22);background-image:-ms-linear-gradient(top, #8db32c, #799f22);background-image:-o-linear-gradient(top, #8db32c, #799f22);background-image:linear-gradient(top, #8db32c,#799f22)}
.nav>li:hover{-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 0 0 rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 0 0 rgba(0,0,0,0.15);-ms-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 0 0 rgba(0,0,0,0.15);-o-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 0 0 rgba(0,0,0,0.15);box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 0 0 rgba(0,0,0,0.15)}
.nav>li.active,.nav>li:active{-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15),0 1px 1px rgba(255,255,255,0.3);-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15),0 1px 1px rgba(255,255,255,0.3);-ms-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15),0 1px 1px rgba(255,255,255,0.3);-o-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15),0 1px 1px rgba(255,255,255,0.3);box-shadow:inset 0 1px 4px rgba(0,0,0,0.15),0 1px 1px rgba(255,255,255,0.3)}
.nav>li.nav-link-icon{height:30px;width:24px;padding-left:6px;position:relative;top:9px;margin-right:10px;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;-webkit-background-clip:padding-box;-moz-background-clip:padding;-ms-background-clip:padding-box;-o-background-clip:padding-box;background-clip:padding-box}
.nav>li.nav-link-icon a{line-height:30px;text-align:center}
.nav>li.nav-link-icon a i{top:2px}
.nav>li.nav-link-icon.active{border:none}
//.nav>li>a{text-decoration:none;color:#fff !important;-webkit-text-shadow:1px 1px rgba(0,0,0,0.15);-moz-text-shadow:1px 1px rgba(0,0,0,0.15);-ms-text-shadow:1px 1px rgba(0,0,0,0.15);-o-text-shadow:1px 1px rgba(0,0,0,0.15);text-shadow:1px 1px rgba(0,0,0,0.15);background:transparent !important;line-height:35px;padding:0 15px}
.nav>li>a{text-decoration:none;color:#fff;!important;-webkit-text-shadow:1px 1px rgba(0,0,0,0.15);-moz-text-shadow:1px 1px rgba(0,0,0,0.15);-ms-text-shadow:1px 1px rgba(0,0,0,0.15);-o-text-shadow:1px 1px rgba(0,0,0,0.15);text-shadow:1px 1px rgba(0,0,0,0.15);background:transparent;line-height:35px;padding:0 15px; }
.nav .divider-vertical{width:0;height:47px;margin:0;overflow:hidden;border-right:-moz-text-shadow:1px 1px rgba(0,0,0,0.15);1px solid rgba(255,255,255,0.275)}
.nav-btn-wrap{position:relative;margin-left:15px;border-left:1px solid #6e8d20;padding-left:15px}
.nav-btn-wrap:before{content:'';height:47px;width:1px;background:rgba(255,255,255,0.275);position:absolute;top:0;left:0}
.nav-btn-wrap .dropdown-toggle,.nav-btn-wrap .login{line-height:47px;color:#fff;font-weight:700}
.nav-btn-wrap .dropdown-menu{margin-top:1px;width:150px}

.footer{background:#ddd url(./image/nav_bg_01.gif) repeat-x;height:53px;border-top:1px solid #ddd;text-align:center;padding-top:8px;font-size:12px;color:#555;clear:both;margin-top:20px}

.tooltip-inner {
max-width: 250px;
padding: 3px 8px;
color: #ffffff;
text-align: center;
text-decoration: none;
background-color: #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.tooltip.top {
margin-top: -2px;
}
.tooltip.in {
opacity: 0.95;
filter: alpha(opacity=95);
}
.tooltip {
z-index: 1020;
display: block;
padding: 5px;
font-size: 14px;
font-weight: 600;
opacity: 0;
visibility: visible;
-webkit-text-shadow: none;
-moz-text-shadow: none;
-ms-text-shadow: none;
-o-text-shadow: none;
text-shadow: none;
}
.fade {
-moz-transition: 0.15s opacity linear;
-o-transition: 0.15s opacity linear;
-ms-transition: 0.15s opacity linear;
-webkit-transition: 0.15s opacity linear;
transition: 0.15s opacity linear;
opacity: 0;
}
.tooltip.top .tooltip-arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-top: 5px solid #000000;
border-right: 5px solid transparent;
border-left: 5px solid transparent;
}
.tooltip-arrow {
position: absolute;
width: 0;
height: 0;
}
